@page "/"
@inject HttpClient httpClient

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<Button OnClick="RequestData">Get exchanges</Button>

<Table DataSource="@Exchanges">
    <Column @bind-Field="@context.name" Title="Name"></Column>
    <Column @bind-Field="@context.acronym" Title="Acronym"></Column>
    <Column @bind-Field="@context.mic" Title="Mic"></Column>
    <Column @bind-Field="@context.country_code" Title="Country"></Column>
    <Column @bind-Field="@context.city" Title="City"></Column>
</Table>

@code {
    private IEnumerable<Exchange> Exchanges = new List<Exchange>();

    private async void RequestData()
    {
    }
}