@page "/"
@inject HttpClient httpClient

<Table DataSource="@Exchanges" PageSize="25">
    <Column Sortable="true" @bind-Field="@context.Name" Title="Name"></Column>
    <Column Sortable="true" @bind-Field="@context.Acronym" Title="Acronym"></Column>
    <Column Sortable="true" @bind-Field="@context.Identifier" Title="MIC"></Column>
    <Column Sortable="true" @bind-Field="@context.Country" Title="Country"></Column>
    <Column Sortable="true" @bind-Field="@context.City" Title="City"></Column>
    <Column Sortable="true" @bind-Field="@context.Currency" Title="Currency"></Column>
</Table>

@code {
    private IEnumerable<Exchange> Exchanges = new List<Exchange>();

    protected override async Task OnInitializedAsync()
    {
        Exchanges = await httpClient.GetFromJsonAsync<IEnumerable<Exchange>>("https://localhost:5001/api/stock");
    }
}